/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mrt-2015, 13:44:49
    Author     : Annemie
*/



.button{
    -fx-background-color:
        linear-gradient(#2FADDE, #1F7293),
        radial-gradient(center 50% -20%, radius 200%, #2FADDE 50%, #1F7293 70%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #1F7293 0%, #195972 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #1F7293, #195972);
}

.ok:hover{
    -fx-background-color:
        linear-gradient(#8fc800 , #438c00),
        radial-gradient(center 50% -20%, radius 200%, #8fc800 50%, #438c00 70%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.cancel:hover{
    -fx-background-color:
        linear-gradient(#ff5400, #be1d00),
        radial-gradient(center 50% -20%, radius 200%, #ff5400 50%, #be1d00 70%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.chart-plot-background { 
    -fx-background-color: transparent; 
}

.default-color0.chart-series-line { 
    -fx-stroke: red; 
}

.chart-bar{
    -fx-bar-fill:blue;
}

.combo-box .list-view .list-cell{

-fx-cell-size: 30;

}